*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(209, 248, 248);
}
.login{
    margin: 30vh auto;
    background-image: url("https://img.freepik.com/premium-vector/christmas-different-seamless-pattern-xmas-endless-texture-wallpaper-web-page-background_702638-76.jpg");
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width: 400px;
    color: white;
    padding: 20px;
    .line{
        display: flex;
        width: 100%;
        margin: 5px 0px;
        gap: 25px;
        justify-content: center;
        input{
            flex-grow: 1;
            font-size: 24px;
            padding: 2px;
            border: none;
            border-radius: 4px;
        }
        button{
            width: 100px;
            font-size: 24px;
            background-color:rgb(255, 255, 255);
            color:rgb(30, 30, 30);
            border-radius: 4px;
            border: none;
            cursor: pointer;
            transition: 0.3s;
        }
        button:hover{
            color:rgb(205, 6, 6);
            transition: 0.3s;
        }
    }   
}