@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: "Rubik", sans-serif;
    background-color: rgb(225, 250, 251);
}
.container{
    padding:5px 100px;
}
header{
    display: flex;
    align-items: center;
    gap: 10px;
    h1{
        flex-grow: 1;
        color: red;
    }
    img{
        height: 50px;
    }
    background-color: white;
    box-shadow: 1px 4px 18px -2px rgba(0, 0, 0, 0.2);
    .btn:hover{
        color: red;
        cursor: pointer;
        transition: 0.3s;
    }
}


.login{
    -webkit-box-shadow: 1px 4px 18px -2px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 1px 4px 18px -2px rgba(0, 0, 0, 0.74);
    box-shadow: 1px 4px 18px -2px rgba(0, 0, 0, 1);
    margin: 30vh auto;
    background-image: url("https://img.freepik.com/premium-vector/christmas-different-seamless-pattern-xmas-endless-texture-wallpaper-web-page-background_702638-76.jpg");
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width: 400px;
    color: white;
    padding: 20px;
    .line{
        display: flex;
        width: 100%;
        margin: 5px 0px;
        gap: 25px;
        justify-content: center;
        input{
            flex-grow: 1;
            font-size: 24px;
            padding: 2px 6px;
            border: none;
            border-radius: 4px;
        }
        button{
            width: 100px;
            font-size: 24px;
            background-color:rgb(255, 255, 255);
            color:rgb(30, 30, 30);
            border-radius: 4px;
            border: none;
            cursor: pointer;
            transition: 0.3s;
        }
        button:hover{
            color:rgb(205, 6, 6);
            transition: 0.3s;
        }
    }   
}